<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>
        <div class="header-2">
            <div class="container">
                <%- include('../partials/ad-nav.ejs') %>
            </div>
        </div>

        <div class="add">
            <center>
                <a href="/admin/add">
                    <button class="btn">Add Medicine</button>
                </a>
            </center>
        </div>

        <div class="small-container">
            <div class="medicines">
                <% for(let i=0;i<prod.length;i++) {
            let products = prod[i] ;
            if(products.length>0) {
                products.forEach(product => { %>
                    <div class="onemed">
                        <h3>
                            <%= product.name %>
                        </h3>
                        <!--Add Product ID-->
                        <a href="/admin/609e77ab3b12c81e84465bd5"><button class="btn">Edit</button></a>
                        <a class="delete" data-doc="609e094f5186821c902f0780"><button class="btn">Delete</button></a>
                    </div>
                    <br>
                    <% })
            }
        } %>
            </div>
        </div>

        <!------------Footer-------------->
        <%- include('../partials/footer.ejs') %>


        <script>
            const trashcan = document.querySelector('a.delete') ;

            trashcan.addEventListener('click', (e) => {
                const endpoint = `/admin/${trashcan.dataset.doc}` ;

                fetch(endpoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => console.log(data))
                .catch(err => console.log(err))
            })
        </script>
    </body>