<div class="navbar">
    <div class="logo">
        <a href="/"><img src="/Logo_med2.png" width="125px" /></a>
    </div>
    <nav>
        <ul id="MenuItems">
            <li><a href="/home">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admin/modify">Modify</a></li>
            <li><a class="btn" href="/logout">Logout</a></li>
        </ul>
    </nav>
    <a href="/cart"> <img src="/cart.png" width="30px" height="30px"></a>
    <img src="/menu.png" class="menu-icon" onclick="menuToggle()">
</div>