<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Contact US</h3>
                <p>Feel free to give your opinion</p>
                <div class="app-logo">
                    <a href="mailto:dharmikgovani21@gmail.com">
                        <p>Mail Id : pharmaman@gmail.com</p>
                    </a>
                    <p>Phone No : 079 40014004</p>
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/Logo_med2.png">
                <p>Our Purpose is to Sustainably make the pleasure and Benefits of Generic Pharmacy Accessible to Many.</p>
            </div>

            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>

        <hr>
        <p class="copyright">logo icons PNG Designed By Irfan Khan Alvi from <a href="https://pngtree.com/">Pngtree.com</a></p>
    </div>
</div>