<form class="profile-form" method="POST" action="/account">
    <p>Name:
        <%=user.username%>
    </p>
    <hr><br>
    <p>Email:
        <%=user.email%>
    </p>
    <hr><br>
    <p> Phone No: <input type="tel" id="phone" name="phone" placeholder="<%=user.phone%>" pattern="[0-9]{10}" value="" required>
    </p>
    <hr><br>
    <p> Address: <input type="text" placeholder="<%=user.address%>" name="address" id="address" required></p>
    <hr><br>
    <button type="submit" class="btn" id="btn-upload">Edit</button>
</form>
<form action="/account" method="POST" enctype="multipart/form-data">
    <label for="image" style="color: #555;">Upload</label>
    <hr width="30%">
    <input type="file" id="image" name="image" value="" required>
    <button type="submit" class="btn" id="btn-upload">Upload</button>
</form>