<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="header-2">
            <div class="container">
                <%- include('./partials/ad-nav.ejs') %>
            </div>
        </div>

        <div class="small-container">
            <div class="medicines">
                <% for(let i=0;i<prod.length;i++) {
            let products = prod[i] ;
            if(products.length>0) {
                products.forEach(product => { %>
                    <div class="onemed">
                        <h3>
                            <%= product.name %>
                        </h3>
                        <!--Add Product ID-->
                        <a href="/admin/452251563231"><button class="btn">Edit</button></a>
                    </div>
                    <br>
                    <% })
            }
        } %>
            </div>
        </div>

        <!------------Footer-------------->
        <%- include('./partials/footer.ejs') %>
    </body>