<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Login
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="../style.css">

</head>

<body>
    <!-----account page------>
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="/main2.png" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">


                        <div class="form-btn">
                            <span id="login" onclick="login()">Login</span>
                            <hr id="Indicator">
                        </div>
                        <%- include('./partials/messages.ejs') %>
                            <form id="LoginForm" action="/login" method="POST">
                                <label for="email"></label>
                                <input type="email" placeholder="Email" id="email" name="email" required>
                                <label for="email"></label>
                                <input type="password" placeholder="Password" name="password" id="password" required>

                                <button type="submit" class="btn">Login</button>

                            </form>
                            <p>
                                No Account? <a class="btn" href="/register">Register</a>
                            </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>