<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>

        <!-----account page------>
        <div class="account-page">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <img src="/main2.png" width="100%">
                    </div>
                    <div class="col-2">
                        <div class="form-container">
                            <div class="form-btn">
                                <span id="login">Register</span>
                                <hr id="Indicator">
                            </div>
                            <form id="RegForm" action="/register" method="POST">
                                <label for="username"></label>
                                <input type="text" placeholder="Username" id="username" name="username" required>
                                <label for="email"></label>
                                <input type="email" placeholder="Email" name="email" id="email" required>
                                <label for="password"></label>
                                <input type="password" placeholder="Password" name="password" id="password" required>
                                <label for="access">Admin</label>
                                <input type="checkbox" id="access" name="access">
                                <button type="submit" class="btn">Register</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!------------Footer-------------->
        <%- include('./partials/footer.ejs') %>

            <!-----------JS for toggle Menu------------>
            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";

                function menuToggle() {
                    if (MenuItems.style.maxHeight == "0px") {
                        MenuItems.style.maxHeight = "200px"
                    } else {
                        MenuItems.style.maxHeight = "0px"
                    }
                }
            </script>
            <!-----------js for toggle form------>
    </body>

</html>